body{
    background-color: orange;
    animation-name: b;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes b{
    0%{background-color: orange;}
    50%{background-color: blue;}
    100%{background-color: orange;}
}

.icons a:nth-child(1){
    position: absolute;
    left:20%;
}

.icons a:nth-child(2){
    position: absolute;
    left:45%;
}

.icons a:nth-child(3){
    position: absolute;
    left:70%;
}